*.so
*.cm[aiox]
*.cmxa
*.[ao]
*.annot
*.pyc
*.mllib
*.mldylib
*.d

hector
test
filter

*~
.depend
test.ml
version.ml

Makefile.config
Makefile.override
result

myocamlbuild.ml
python/pycocci.ml
parsing_cocci/lexer_cli.ml

tests/compare_org_files

config.log
config.status
autom4te.cache
aclocal.m4

_build
_log
*.native
*.byte
*.d.native
*.p.byte
.merlin
.mascotrc
description-pak
